.title{
    text-align: center;
}
.profileList{
    margin-top: 10%;
}

.dropdown {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  -webkit-appearance: none; /* Removes default style of dropdown in WebKit browsers */
  -moz-appearance: none; /* Removes default style of dropdown in Firefox */
  appearance: none; /* Standard syntax to remove default arrow */
}

/* Optionally, style the dropdown arrow */
.dropDownArrow {
  position: relative;
}

.dropDownArrow::after {
  content: '▼'; /* Custom arrow symbol */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Prevents clicking on the arrow */
}
.pageBody{
    display: flex;
    flex-direction: column;
}
.buttonContainer{
    margin-top: 5%;
    margin-left:45%;    
}
.getThreads{
  background-color: #0056b3;
  font-size: 20px;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding:20px;
}

.loadingIcon {
  animation: spin 0.8s infinite linear;
}
  

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}